.tasks-view{
    margin-top: 1.5rem;
}
.tasks-list{
    width: 100%;
    display: flex;
}
.checkbox{    
  margin-left:2rem; 
  margin-top: 1rem;   
  color: rgb(48, 48, 252);  
}
.task-name{
    margin-left:1rem;
    margin-top:1rem;
    text-align: left;
}
.seperation{
    margin-left: 4rem;
    margin-top: 1rem;
}
.done{
    text-decoration: line-through;
}