.main {
  background: rgb(255, 255, 255);
  margin: auto;
  width: 400px;
  height: 100vh;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.top-bar{
  display: flex;
  justify-content: space-between;
}
.title {
  margin: 30px 0 0 8px ;
}
.top-title{
  font-size: 12px;
  font-weight: 400;
}
.bottom-title{
  padding: 5px 0 0 18px;
  font-weight: 500;
}
.close-icon{
  margin:40px 30px 0 0;
}
.add-task{
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.add-icon{
  padding-left:2rem;  
}
span{
  color: rgb(48, 48, 252);
}
.three-dots{
  padding-right:30px;
}
.input-box{
  border:none;
}